
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    function isAdmin() {
      return request.auth != null && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'ADMIN';
    }
    
    function isCollaborator() {
      return request.auth != null && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'COLLABORATOR';
    }

    // Public Page access
    match /settings/{docId} {
      allow read: if true;
      allow write: if isAdmin();
    }
    
    match /gallery/{docId} {
      allow read: if true;
      allow write: if isAdmin();
    }

    // Clients, Appointments, Budgets
    match /clients/{docId} {
      allow read, write: if isAdmin() || isCollaborator();
    }
    
    match /appointments/{docId} {
      allow read, write: if isAdmin() || isCollaborator();
    }
    
    match /budgets/{docId} {
      allow read, write: if isAdmin() || isCollaborator();
    }

    // Financial & Private Data
    match /financial/{docId} {
      allow read, write: if isAdmin();
    }
    
    match /users/{userId} {
      allow read: if request.auth != null;
      allow write: if isAdmin();
    }
    
    match /contracts/{docId} {
      allow read, write: if isAdmin();
    }
    
    match /receipts/{docId} {
      allow read, write: if isAdmin();
    }
  }
}
